.main-page {
  font-family: "Cabin", sans-serif;
}

.main-container {
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.header-shop {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #10bbd5;
}

.header-shop-styles {
  margin-left: 52px;
  margin-right: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 22px;
}

.logo {
  display: flex;
  gap: 4px;
}

.header-costs {
  display: flex;
  gap: 8px;
  align-items: center;
}

.logo-text {
  font-weight: 700;
  font-size: 24px;
  color: #f8fdfe;
}

.header-price {
  font-size: 16px;
  line-height: 150%;
  color: #f8fdfe;
}

.header-basket {
  position: absolute;
  left: 18px;
  top: 8px;
  color: #000;
}

.header-basket-price {
  background-image: url(./Images/cart_icon.png);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  position: relative;
}

.header-bot {
  margin-right: 52px;
  margin-left: 52px;
  display: flex;
  justify-content: space-between;
  padding-top: 4px;
}

.header-bot-container {
  background-color: #fff;
}

.header-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  width: 295px;
  justify-content: space-between;
}

.header-list-text {
  font-size: 16px;
  line-height: 150%;
  color: #000;
}

/* ------header -------- */

.main-content {
  background-color: #eeeeef;
  padding-bottom: 120px;
  
}

.main-content-container {
  margin-right: 52px;
  margin-left: 52px;
}

.main-content-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 125%;
  color: #1f1f1f;
  margin: 0;
  padding-top: 32px;
  margin-bottom: 23px;
}

.main-goods {
  border-top: 1px solid #a8a8a8;
  padding-top: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 32px;
  gap: 24px;
}

.cards {
  width: 306px;
  border: 1px solid #a8a8a8;
  background-color: #f8fdfe;
}

.cards-position {
  position: relative;
  margin-left: 32px;
  margin-right: 32px;
}

.card-inform {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 125px;
  gap: 4px;
  position: absolute;
  top: 32px;
}

.card-inform-text {
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #f8fdfe;
  padding: 4px 8px;
  background-color: #4200ff;
  border-radius: 4px;
}

.main-img {
  display: block;
  margin-right: auto;
  margin-left: auto;

  padding-top: 32px;
}

.main-product-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #1f1f1f;
  padding-top: 16px;
}

.main-product-name {
  font-size: 16px;
  line-height: 150%;
  color: #8e8e8e;
  border-top: 1px solid #a8a8a8;
}

.main-product-price {
  font-weight: 500;
  font-size: 24px;
  line-height: 133%;
  color: #e90000;
  padding-top: 8px;
  padding-bottom: 16px;
}

.main-btn-basket {
  line-height: 150%;
  color: #f8fdfe;
  border-radius: 4px;
  padding: 8px 24px;
  background-color: #4c394e;
  display: block;
  text-align: center;
  margin-bottom: 32px;
}

.main-btn-end {
  background-color: #4d762d;
}

.card-inform-new {
  background-color: #af39e7;
}

.card-inform-off {
  background-color: #ea33c0;
}

.main-product-sale {
  display: flex;
  align-items: center;
  gap: 24px;
}

.product-sale-item {
  font-weight: 500;
  font-size: 24px;
  line-height: 133%;
  color: #8e8e8e;
  padding-bottom: 8px;
}

.footer-copyright {
  background-color: #4c394e;
}

.footer-end {
  margin-right: 52px;
  margin-left: 52px;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
}

.footer-year {
  color: #f8fdfe;
  line-height: 150%;
  display: flex;
}

.footer-year::before {
  content: url(./Images/icons8-copyright-24.png);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;

}

.footer-rights {
  color: #f8fdfe;
  line-height: 150%;
}

.chat-icon {
  position: absolute;
  top: 465px;
  left: 238px;
}

.chat-img {
  position: fixed;
}